.about-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #D3D3D3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

body.dark-mode .about-section {
  background-color: #171718;
}

.about-header {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  padding: 0px 0;
}

body.dark-mode .about-header h1 {
  color: #FFFFFF;
}

.about-content {
  max-width: 1200px;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 240px;
  flex: 1;
}

.about-card {
  flex: 0 0 auto;
}

.about-text {
  flex: 6;
  max-width: 600px;
  text-align: left;
}

.about-header h1 {
  font-size: 2.8em;
  color: #333;
  margin: 0;
}

.about-text p {
  font-size: 1.5em;
  color: #333;
  line-height: 1.8;
  margin: 0;
}

body.dark-mode .about-text p {
  color: #FFFFFF;
}

/* About.css */

/* Add this media query at the end of the file */
@media (max-width: 960px) { /* Using a slightly larger breakpoint */
  .about-section {
    height: auto; /* Allow height to grow with content */
    padding: 6rem 2rem;
    width: 100%; /* Ensure full width on mobile */
  }

  .about-header {
    margin-top: 0; /* Adjust header margin for a normal flow */
    margin-bottom: 3rem;
  }

  .about-content {
    flex-direction: column; /* Stack the card and text vertically */
    gap: 3rem; /* Reduce the gap */
    padding: 0 1rem;
  }

  .about-text {
    text-align: center; /* Center the text for a better mobile look */
    max-width: 80%;
    margin: 0 auto; /* Center the text block */
  }

  .about-text p {
    font-size: 1.0rem; /* Adjust font size for mobile readability */
    line-height: 1.7;
  }
}