.services-section {
  padding: 4rem 1rem;
  background-color: #D3D3D3;
  text-align: center;
  height: auto;
  min-height: 100vh;
}

body.dark-mode .services-section {
  background-color: #171718;
}

.services-header {
  margin-bottom: 3rem;
}

.services-title {
  font-size: 2.5rem;
  color: #111827;
  font-weight: bold;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background-color: #ffffff;
  border: 3px solid #c24e00;
  color: #111827;
}

body.dark-mode .service-card {
  background-color: #171718;
  border: 3px solid #c24e00;
  color: #f3f4f6;
}

.service-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.service-info {
  padding: 1.5rem;
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.service-title-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.service-subtitle {
  font-size: 1rem;
  color: #4b5563;
  line-height: 1.5;
  flex-grow: 1;
}

.service-handle {
  margin-top: 1rem;
  font-weight: 600;
  color: #3b82f6;
  text-decoration: none;
  align-self: flex-end;
  transition: color 0.3s ease;
}

.service-handle:hover {
  color: #2563eb;
}

@media (max-width: 768px) {
  .services-section {
    padding: 4rem 1rem;
    height: auto;
    width: 100%;
  }

  .services-grid {
    gap: 1.5rem;
    grid-template-columns: 1fr;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}